*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #efefef;
}
nav{
    display: flex;
    flex-grow: grow;
    align-items: center;
    justify-content: space-between;
    background: rgb(60, 45, 199);
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}
.logo{
    /* width: 150px;
    height: 30px; */
    margin-right: 75px;
    font-size: 30px;
    color: #fefefe;
}
.nav-left {
    display: flex;
    align-items: center;
}
.nav-left ul li{
    list-style: none;
    display: inline-block;
}
.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.nav-right img{
    width: 25%;
    margin: 0 15px;
}
.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}
.nav-user-icon{
    margin-left: 30px;
}
.search-box{
    background: #fefefe;
    width: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.search-box img{
    width: 18px;
}
.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}
.online{
    position: relative;
}
.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41db51;
    position: absolute;
    top: 0;
    right: 0;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
    background-color: rgb(241, 241, 241);
}
.left-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    height: 50vh;
    color: #fefefe;
}
.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}
.main-content{
    flex-basis: 47%;
}
.imp-links a, .surtcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;

}
.imp-links a i{
    width: 45px;
    margin-right: 20px;
}
/* .imp-links i{
    color: #41db51;
} */
.imp-links a:last-child{
    color: tomato;
}
.imp-links{
    border-bottom: 1px solid #ccc;
}
.surtcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}
.surtcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}
.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}
.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}
.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}
.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}
.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 10px;
    padding: 4px 0;
}
.sidebar-ads{
    width: 100%;
    height: 10%;
    margin-bottom: 20px;
    border-radius: 4px;
}
.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.story-gallery{
    display: flex;
    justify-content: space-between ;
    margin-bottom: 20px;
}
.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}
.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border-radius: 5px solid #626262;
}
.story p{
    color: rgb(236, 248, 242);
}
.story1{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(image/1.jpg);
}
.story2{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(image/2.jpg);
}
.story3{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(image/images.jpg);
}
.story4{
    background-image: linear-gradient(transparent, rgba(0,0,0,0.5)), url(image/6.jpg);
}
.story.story1 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.story.story2 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.story.story3 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.story.story4 img{
    top: unset;
    left: 50%;
    bottom: 40px;
    transform: translateX(-50%);
    border: 0;
    width: 35px;
}
.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}
.user-profile{
    display: flex;
    align-items: center;
}
.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}
.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}
.user-profile small{
    font-size: 12px;
}
.post-input-container{
    padding-left: 55px;
    padding-top: 20px;

}
.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}
.add-post-links{
    display: flex;
    margin-top: 10px;
}
.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}
.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}
.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}
.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}
.post-text span{
    color: #626262;
    font-weight: 500;
}
.post-text a{
    color: #1876f2;
    text-decoration: none;
}
.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}
.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between ;
}
.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}
.activity-icons div{
    display: inline-block;
    align-items: center;
    margin-right: 30px;
}
.post-profile-icon{
    display: flex;
    align-items: center;
}
.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.user-profile a{
    color: #000;
}
.load-more-btn{
    display: block;
    color: #41db51;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    background: transparent;
    border-radius: 4px;
}
.footer{
    text-align: center;
    color: #9a9a9a ;
    padding: 10px 0 20px;
    font-size: 13px;
}
.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    border: 0;
    background: #9a9a9a;
    margin: 15px 0;
    /* height: 500px; */
    background: #fff;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 80%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}
.setting-menu-height{
    max-height: 450px;
}
.user-profile a{
    font-size: 12px;
    color: #1876f2;
    text-decoration: none;
}
.setting-menu-inner{
    padding: 20px;
}
.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}
.setting-links i{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}
.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
}

.profile{
    height: 200px;
    background-size: cover;
    background-image: url(../image/6.jpg);
}
.profile-header img{
    margin-top: 160px;
    width: 115px;
    height: 115px;
    border-radius: 50%;
   margin-left: 20px;
}
.profile-min{
    display: flex;
    justify-content: space-between;
}
.profile-nav a{
    color: #120f0f;
    text-decoration: none;
}
.profile-nav{
    margin-top: 210px;
}
ul {
    display: flex;
    gap: 20px;
}